.transcriptViewer {
  border-left: 1px solid black;
  margin-top: 35px;
  position: relative;
  min-width: 250px;
  width: 330px;
  font-size: 12px;
  word-break: break-all;
  height: calc(100vh - 55px);
  max-height: calc(100vh - 55px);
  overflow-y: auto;
  padding: 8px;
}
