.bubbleContainer {
  border-bottom: 1px solid black;
}
.title {
  font-weight: 550;
  margin-left: 15px;
  margin-bottom: 13px;
}
.bubbleArea {
  padding: 0px 0px 0px 0px;
}
.st0 {
  fill: #bf6020;
  stroke: #ffffff;
  stroke-width: 0.4411;
  stroke-miterlimit: 1.7644;
}
.st1 {
  fill: #ac1d3b;
  stroke: #ffffff;
  stroke-width: 0.4411;
  stroke-miterlimit: 1.7644;
}
.st2 {
  fill: #1e96d1;
  stroke: #ffffff;
  stroke-width: 0.4411;
  stroke-miterlimit: 1.7644;
}
.st3 {
  fill: #1da36b;
  stroke: #ffffff;
  stroke-width: 0.4411;
  stroke-miterlimit: 1.7644;
}
.st4 {
  fill: #040000;
}
.st5 {
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
}
.st6 {
  font-size: 8.9691px;
}
.title0 {
  fill: #040000;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 8.9691px;
}
.title1 {
  fill: #040000;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 7px;
}
.title2 {
  fill: #040000;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 5.4px;
}
.title3 {
  fill: #040000;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 7px;
}
.title4 {
  fill: #040000;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 5.4px;
}
.title5 {
  fill: #040000;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 7px;
}
.title6 {
  fill: #040000;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 7px;
}
.style0 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 5px;
}
.style1 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 4.4539px;
}
.style2 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 5.4282px;
}
.style3 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 7px;
}
.style4 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 6px;
}
.style5 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 4.1621px;
}
.style6 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 3.7531px;
}
.style7 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 5.15px;
}
.style8 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 4.75px;
}
.style9 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 6.6px;
}
.style10 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 5px;
}
.style11 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 5.3px;
}
.style12 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 5.6px;
}
.style13 {
  fill: #ffffff;
  font-family: "NanumGothicExtraBold";
  font-weight: bolder;
  font-size: 4.4px;
}
.st7 {
  enable-background: new;
}
.st8 {
  fill: #ac1d3b;
}
.st9 {
  fill: #1e96d1;
}
.st10 {
  fill: #1da36b;
}
.st11 {
  fill: #ffffff;
}
.st12 {
  font-size: 5px;
}
.st13 {
  font-size: 4.4539px;
}
.st14 {
  font-size: 5.4282px;
}
.st15 {
  fill: #bf6020;
}
.st16 {
  font-size: 7px;
}
.st17 {
  font-size: 5.3774px;
}
.st18 {
  font-size: 6.5192px;
}
.st19 {
  fill: none;
  stroke: #7f8080;
  stroke-miterlimit: 10;
}
.st20 {
  font-size: 6px;
}
.st21 {
  font-size: 4.6148px;
}
.st22 {
  font-size: 4.3541px;
}
.st23 {
  font-size: 5.4455px;
}
.st24 {
  font-size: 4.7726px;
}
.st25 {
  font-size: 5.6104px;
}
.st26 {
  font-size: 4.1621px;
}
.st27 {
  font-size: 3.7531px;
}
.st28 {
  font-size: 4.7925px;
}
.st29 {
  font-size: 5.0458px;
}
.st30 {
  font-size: 4.2108px;
}
.st31 {
  font-size: 5.2857px;
}
.st32 {
  font-size: 5.1512px;
}
.st33 {
  font-size: 3.9154px;
}
.st34 {
  font-size: 5.1422px;
}
.st35 {
  font-size: 4.9119px;
}
.st36 {
  font-size: 5.4752px;
}
.st37 {
  font-size: 4.7686px;
}
.st38 {
  font-size: 5.1567px;
}
.st39 {
  font-size: 6.8769px;
}
.st40 {
  font-size: 6.6412px;
}
.st41 {
  font-size: 5.396px;
}
.st42 {
  font-size: 7.3331px;
}
.st43 {
  font-size: 6.6242px;
}
.st44 {
  font-size: 5.0936px;
}
.st45 {
  font-size: 3.8999px;
}
.st46 {
  font-size: 5.3323px;
}
.st47 {
  font-size: 7.4113px;
}
.st48 {
  font-size: 5.8905px;
}
.st49 {
  font-size: 5.0535px;
}
.st50 {
  font-size: 5.7014px;
}
.st51 {
  font-size: 5.1234px;
}
.st52 {
  font-size: 5.0257px;
}
.st53 {
  font-size: 5.147px;
}
.st54 {
  font-size: 4.9776px;
}
.st55 {
  font-size: 6.0344px;
}
.st56 {
  font-size: 6.9635px;
}
.st57 {
  font-size: 4.0725px;
}
.st58 {
  font-size: 4.4527px;
}
.st59 {
  font-size: 4.5715px;
}
.st60 {
  font-size: 3.9097px;
}
.st61 {
  font-size: 5.3892px;
}
.st62 {
  font-size: 4.0557px;
}
.st63 {
  font-size: 3.8265px;
}
.st64 {
  font-size: 4.7857px;
}
.st65 {
  font-size: 4.1944px;
}
