.root-div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  .vis-area {
    flex-grow: 1;
    width: calc(100% - 330px);
  }

  .bubble {
    margin-top: 115px;
    flex: 1;
    justify-content: center;
  }

  .concept-recurrence-plot {
    flex: 1;
    display: flex;
    //justify-content: center;
    position: relative;
  }
}
