.component {
  // .bodyContentContainer {
  //   display: flex;
  //   justify-content: center;

  //   .bodyContentZone {
  //     // display: flex;
  //     // flex-direction: column;
  //     width: 600px;

  //     // .lastContentText {
  //     //   margin-bottom: 24px;
  //     // }

  //     .subtitle {
  //       margin-bottom: 2px;
  //     }
  //   }
  // }
}
