.home {
  width: 100%;
  height: 100vh;
  // background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  .serviceTitle {
    margin-top: 200px;
    font-size: 24px;
  }

  .checkbox {
    margin-top: 24px;
  }

  .links {
    margin-top: 16px;
    .button {
      margin: 0 8px 0 8px;
      // margin: 8px;
    }
  }

  .apiTestTitle {
    margin-top: 100px;
    font-size: 16px;
  }
  .apiButtons {
    .apiButton {
      margin-top: 8px;
      margin-right: 8px;
    }
  }

  .evaluationTitle {
    margin-top: 100px;
    font-size: 16px;
  }
}
