.controllersZone {
  min-width: 240px;
  width: 240px;
  padding: 8px;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  // scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #eee;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  .classificationTitle {
    margin-top: 8px;
    color: #1890ff;
  }

  .smallControllerTitle {
    font-size: 11px;
    height: 16px;
  }

  .checkbox {
    // margin-bottom: 12px;
    height: 24px;
    margin-left: 0;
    font-size: 12px;
  }

  .select {
    width: 100%;
    margin-bottom: 12px;
    font-size: 12px;
  }

  .radio {
    font-size: 11px;
    display: block;
  }

  .marginBottom {
    margin-bottom: 12px;
  }

  .verticalSpace {
    width: 100%;
    height: 8px;
  }

  .pkwd {
    padding-bottom: 16px;
    .button {
      margin-right: 8px;
      margin-bottom: 8px;
    }
  }
}
