$navi: brown;

.mainLink {
  text-decoration: none;
  margin-top: 0px;
  //   text-align: justify;
}
.navi {
  position: absolute;
  display: flex;
  text-align: justify;
  width: 100%;
  height: 35px;
  background-color: $navi;
  color: white;
  font-weight: 600;
  font-size: 24px;
  padding-top: -5px;
  padding-left: 15px;
  //   align-items: center;
  //   border-bottom: 1px solid black;
}
.naviTwo {
  position: absolute;
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 35px;
  color: black;
  font-weight: 600;
  font-size: 14px;
  margin-top: 30px;
  //padding-top: -5px;
  padding-left: 10px;
  //   align-items: center;
  //   border-bottom: 1px solid black;
}
